body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll {
  scrollbar-width: auto;
  scrollbar-color: rgba(200, 200, 200, 0.4) #1a1a1a;
  scrollbar-gutter: stable;
  padding-right: 8px;
  box-sizing: border-box;
}
